footer {
  background-color: $text;
  color: $gray;
  padding-top: 20px;
  font-size: 14px;
  div.line {
    border-top: 1px solid #555;
    height: 1px;
    margin: 15px 0;
  }
  a {
    color: $orangetwo;
    &:hover {
      color: $orange;
    }
  }
  p {
    margin: 0;
    color: #aaa;
    line-height: 1.5;
  }
  img {
    box-shadow: none;
  }
  .social {
    background-color: $orange;
    margin-top: 15px;
    .fb-ic {
      color: #fff;
      margin-left: 40px;
    }
  }
  .wydawca {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .info-pub {
      font-size: 14px;
      line-height: 14px;
      margin-bottom: 10px;
      p {
        line-height: 16px;
        margin: 0;
      }
    }
    img {
      max-width: 200px;
      margin: 10px auto 10px 0;
    }
  }
  .footer-copyright {
    padding: 10px;
  }
}
footer .wydawca .info-pub p {
  line-height: 18px;
}
