@-moz-document url-prefix() {
  .input-group {
    .search-text::placeholder {
      line-height: 52px;
    }
  }
}

header {
  position: relative;
  z-index: 0;
  margin-top: 20px;
  font-family: 'Josefin Sans', sans-serif;
  // .dark-header {
  //   background-color: rgba(0, 0, 0, 0.1);
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   height: 100%;
  //   z-index: 1;

  form {
    max-width: 600px;
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    position: absolute;
    transform: translate(-300px, 0);
    top: 50%;
    left: 50%;
    z-index: 10;
    margin: 0 auto;
    .input-group {
      display: flex;
      flex-wrap: nowrap;

      .search-text {
        display: flex;
        align-items: center;
        &::placeholder {
          display: flex;
          align-items: center;
        }
      }
    }
    .btn.btn-outline-secondary.dropdown-toggle-new {
      background-color: #fff;
      outline: none;
      border: none;
      &:after {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        padding-right: 15px;
        padding-left: 10px;
        color: $text;
        font-size: 12px;
        content: '\f078';
        // border-right: 1px solid $text;
      }
      &:focus {
        box-shadow: none;
        background-color: #fff;
        border: none;
      }
    }
    .btn.btn-outline-secondary.btn-search {
      border: none;
      &:focus {
        box-shadow: none;
        background-color: #fff;
        border: none;
      }
    }
    input,
    .dropdown,
    button {
      box-shadow: 0px 7px 0px rgba(0, 0, 0, 0.26), 0 3px 0 rgba(0, 0, 0, 0.15);
      background: none;

      background-color: #fff;
      padding-left: 10px;
      height: 52px;
      border: none;
      &:focus,
      &:active,
      &:hover {
        background-color: #fff !important;
        outline: transparent;

        border: none;
      }
    }
    input {
      width: 90%;

      border-color: #fff;
    }
    .dropdown-toggle-new {
      border: none;
      text-transform: none;
      font-size: 20px;
      font-weight: 300;
      padding: 10px 25px;
      border-radius: 25px;
      border-color: #fff;
      height: 52px;

      border: none;

      &:hover {
      }
    }
    .btn {
      background-color: #fff;

      &.btn-search {
        background-color: #fff;
        color: $text;
        text-align: center;
        width: 10%;
        height: 52px;

        border-radius: 50%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        border-color: #fff;
        img {
          width: 30px;
          height: 30px;
          object-fit: contain;
          position: relative;
          right: 25px;
          box-shadow: none;
        }
      }
      // }
    }
  }
  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    box-shadow: none;
  }
}
@media (max-width: 600px) {
  header {
    position: relative;
    z-index: 0;
    margin-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
    .dark-header {
      background-color: rgba(0, 0, 0, 0.3);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      z-index: 1;

      form {
        max-width: 600px;
        height: 100%;
        width: 100%;
        position: absolute;
        transform: translate(-44%, 0);
        top: 50%;
        left: 50%;
        z-index: 10;
        margin: 0 auto;
        .input-group {
          flex-wrap: nowrap;
          input,
          .dropdown,
          button {
            background: none;
            background-color: #fff;
            height: 52px;
            border: none;
            &:focus,
            &:active {
              background-color: #fff !important;
              outline: transparent;
              box-shadow: none;
              border: none;
            }
          }
          input {
            width: 150px;

            border-color: #fff;
          }
          .input-group-prepend {
            width: 100px;
            .dropdown-toggle-new {
              border: none;
              text-transform: none;
              font-size: 20px;
              font-weight: 400;
              padding: 10px 25px;
              border-radius: 25px;
              border-color: #fff;
              height: 52px;
              box-shadow: none;
              border: none;

              &:after {
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                padding-right: 15px;
                padding-left: 10px;
                color: $text;
                font-size: 12px;

                content: '\f078';
                border-right: 1px solid $text;
              }
            }
          }
          .btn.btn-outline-secondary {
            background-color: #fff;

            &.btn-search {
              background-color: #fff;
              color: $text;
              text-align: center;
              width: 50px;
              height: 52px;
              border-radius: 50%;
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;

              border-color: #fff;
              img {
                height: auto;
                box-shadow: none;
              }
            }
          }
        }
      }
    }
    img {
      width: 100%;
      height: 600px;
      object-fit: cover;
    }
  }
}
