.navbar-first {
 
    padding-bottom: 0px;
       padding-top: 10px !important;
    margin: 0;
    height: 65px;
  font-family: "Josefin Sans", sans-serif;
  background-color: #fff !important;
  position: relative;
  z-index: 10;
  box-shadow: none;
  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      max-width: 150px;
      width: 100%;
      margin: 0 auto;
      box-shadow: none;
    }
  }
  .navbar-nav {
    .nav-item {
      width: 100px;
      a.nav-link {
        color: $text;
        text-transform: none;
        text-align: center;
        font-size: 16px;

        &:hover {
          color: #ddd;
        }
      }
    }
  }
  .account-links {
    color: #fff;
    width: 700px;
    padding-top: 10px;
    .account-dropdown {
      border-left: 1px solid $gray;
      a {
      display: flex;
      align-items: center;
      i {
        padding-right: 5px;
        font-size: 24px;
        display: block;
      
      }
    }
    }
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    li {
      font-size: 16px;
      padding-right: 10px;

      a {
        color: $text;
        &:hover {
          color: #ddd;
        }
      }
    }
    ul a {
      display: block;
      color: #9c9c9c;
      text-decoration: none;

      padding: 15px 15px;
      background: #fff;
      font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
        sans-serif;
      -webkit-transition: all 150ms linear;
      -moz-transition: all 150ms linear;
      -ms-transition: all 150ms linear;
      -o-transition: all 150ms linear;
      transition: all 150ms linear;
    }

    ul a:hover {
      color: #000;
      background-color: #fff;
      text-shadow: 0 0 2px white;
      -webkit-text-shadow: 0 0 2px white;
      -moz-text-shadow: 0 0 2px white;
      -o-text-shadow: 0 0 2px white;
      -ms-text-shadow: 0 0 2px white;
      -webkit-transition: all 150ms linear;
      -moz-transition: all 150ms linear;
      -ms-transition: all 150ms linear;
      -o-transition: all 150ms linear;
      transition: all 150ms linear;
    }

    ul li {
      position: relative;
      float: left;
      margin: 0;
      padding: 0;
      background: #fff;
    }

    ul li.current-menu-item {
      background-color: #fff;
    }

    ul li:hover {
      background-color: #fff;
    }

    ul ul {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background: #fff;
      padding: 0;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      z-index: 9999999999999999999999999999999;
       overflow-y: visible;
    }

    ul ul li {
      float: none;
      width: 150px;
    }

    ul ul a {
      line-height: 120%;
      padding: 10px 15px;
      background: #fff;
    }

    ul ul ul {
      top: 0;
      left: 100%;
    }

    ul li:hover > ul {
      display: block;
    }
  }
}

/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="col"] {
  margin-bottom: 1rem;
}
#nav-fix {
  background-color: #fff !important;
  font-family: "Josefin Sans", sans-serif;
  z-index: 1;
  position: relative;
  top:10px;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1), 0 0px 15px rgba(207, 149, 149, 0.1);

  a {
    color: $text;
    font-weight: 300;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    height: 100%;
    padding: 0 5px;
    padding-bottom: 3px;
    cursor: pointer;
    &:hover {
      border-bottom: 3px solid $orange;
      padding-bottom: 0;
    }
  }
  a.main-category {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .dropdown-toggle:after {
    display: none;
  }
}
.navbar .dropdown-menu {
  border: none;
  background-color: #fff !important;
  color: #000;
  padding: 40px;

  .nav-item {
    padding: 0;
    &:last-of-type {
      margin-bottom: 10px;
    }
    a.nav-link {
      color: #000;
      text-transform: none;
      padding: 0 !important;
    }
  }
}
/* shows the dropdown menu on hover */
.navbar .dropdown:hover .dropdown-menu,
.navbar .dropdown .dropdown-menu:hover {
  display: block;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s linear;
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {
  /* remove the padding from the navbar so the dropdown hover state is not broken */
  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
  .navbar .nav-item {
    padding: 0.5rem 0.5rem;
    margin: 0 0.25rem;
  }

  /* makes the dropdown full width  */
  .navbar .dropdown {
    position: static;
  }
  .nav-link.dropdown-toggle.active {
    border-bottom: 3px solid $orangetwo;
  }

  .navbar .dropdown-menu {
    width: 900px;
    left: 0;
    right: 0;
    /*  height of nav-item  */
    top: 30px;
    margin: 15px auto;
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;

    span {
      margin-top: 15px;
    }
  }

  .navbar .dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
}
.sticky-top {
  animation: nav 0.5s linear; 
  position: fixed !important;
  top:0 !important;
  left:0;
  margin-top:0 !important;
  right:0;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;..");
}

@keyframes nav {
  0% {
    transform: translateY(-100%);
  }
    100% {
    transform: translateY(0);
  }
}