section.event {
  padding: 60px 20px;
  background: #f7f6f4 url('../img/bg.png');
  background-attachment: fixed;
  position: relative;
  top: 0;
  left: 0;
  z-index: 555;
  .row {
    align-items: center;
    .card {
      max-width: 350px;
      padding: 15px;
      height: 440px;
      position: relative;
      .banner {
        background-color: #fff;
        padding: 5px 15px;
        position: absolute;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
        text-transform: uppercase;
        font-size: 18px;
      }
      &.article {
        .banner {
          top: 50px;
          left: -15px;
        }
      }
      &.download {
        .banner {
          bottom: 180px;
          right: -15px;
          background-color: $orange;
          color: #fff;
        }
      }
      a {
        img {
          height: 280px;
          object-fit: cover;
        }
        .text {
          padding: 20px 0;
          color: $text;
          h4 {
            font-size: 16px;
            font-family: 'Work Sans', sans-serif;
            font-weight: 500;
          }
          p {
            font-size: 14px;
          }
        }
      }
      &.special {
        max-width: 400px;
        height: 500px;
        img {
          position: relative;
          height: 100%;
          object-fit: cover;
        }
        .dark-place {
          position: absolute;
          top: 15px;
          left: 15px;
          right: 15px;
          bottom: 15px;
          background-color: RGBA(0, 0, 0, 0.5);
          display: flex;
          padding: 20px;
          flex-direction: column;
          justify-content: space-between;
          color: #fff;
          h2.title {
            text-transform: uppercase;
            font-size: 35px;
          }
          p {
            font-size: 18px;
            padding-right: 30%;
            color: #fff;
            &:first-of-type {
              color: $yellow;
            }
          }
        }
      }
    }
  }
}
