section.contact {
  background: $gray url('../img/bg2.png');
  background-attachment: fixed;
  //   background-size: cover;
  padding: 80px 0;
  .card {
    position: relative;
    .circle {
      position: absolute;
      top: 0;
      left: 50%;
      width: 100px;
      height: 100px;
      border-radius: 50%;

      transform: translate(-50%, -50%);
      background: $orange url('../img/koperta.png');
      background-size: 55%;
      background-repeat: no-repeat;
      background-position: center;
    }
    .text {
      max-width: 500px;
      width: 100%;
      margin: 100px auto 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font-weight: 700;
        margin-bottom: 20px;
      }
      p {
        max-width: 400px;
        text-align: center;
        font-size: 18px;
      }
      form {
        align-items: baseline;
        input {
          background-color: $gray;
          padding: 10px 10px;
          border-radius: 10px;
          font-size: 18px;
          outline: none;
          border: none;
          width: 100%;

          &::placeholder {
            font-size: 18px;
          }
        }
        a.btn.btn-orange {
          max-width: 150px;
          margin: 17px 0 0;
        }
      }
    }
  }
}
