section.releases {
  background-color: $graybg;
  padding: 30px 10px;
  img {
    box-shadow: none;
    width: 100%;
  }
  .container {
    max-width: 1250px;
    .title {
      padding: 10px 10px 3px;
      background-color: #fff;
      margin: 30px auto;
      text-align: center;
      font-family: 'Josefin Sans', sans-serif;
      h1 {
        font-weight: 300;
      }
    }
    .choice {
      .left {
        text-align: right;
        line-height: 2.3;
      }
      .select {
        background-color: #fff;
        border-radius: 15px;
      }
    }
    .number-title {
      position: relative;
      margin: 30px 0;
      .release-number {
        position: absolute;
        top: -15px;
        background-color: $graybg;
        font-size: 22px;
        padding-right: 10px;
        font-weight: 300;
        left: 0;
        font-family: 'Josefin Sans', sans-serif;
        span {
        }
      }
      .line {
        border-top: 2px solid $gray;
        height: 2px;
        width: 100%;
      }
    }
    .more {
      position: relative;
      margin: 20px 0 40px;
      border-bottom: 2px solid $gray;
      button.btn-more {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        border-radius: 10px;
        cursor: pointer;
        padding: 10px 10px;
        font-weight: 300;
        font-family: 'Josefin Sans', sans-serif;
        color: #000 !important;
        transition: all 0.3s linear;
        &:before {
          content: 'Pokaż więcej';
        }

        img {
          width: 15px;
          margin: 0 5px;
          transition: all 0.3s linear;
        }
        &.active {
          &:before {
            content: 'Pokaż mniej';
          }
          img {
            width: 15px;
            margin: 0 5px;
            transform: rotate(-180deg);
          }
        }
      }
    }
    .articles,
    .files {
      .article,
      .file {
        max-width: 150px;
        width: 100%;
        padding: 0 5px;
        margin: 0 5px;
        a {
          img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            background-color: #fff;
          }
          p {
            margin-top: 15px;
            font-size: 14px;
            width: 150px;
            color: #000;
          }
        }
      }
    }
  }
  .more-articles {
    height: 0%;
    transition: all 0.5s linear;
    .article {
      opacity: 0;
      height: 0;
    }
    &.active {
      height: auto;
      .article {
        opacity: 1;
        height: auto;
        transition: all 0.5s linear;
      }
    }
  }
}
