section.search {
  background-color: $graybg;
  padding: 30px 10px;
  img {
    box-shadow: none;
    width: 100%;
  }
  .container {
    max-width: 1300px;
    .title {
      padding: 10px 10px;
      background-color: #fff;
      margin: 30px auto;
      text-align: center;

      div {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
        form {
          display: flex;
          align-items: center;
          span {
            font-size: 25px;
            font-weight: 300;
            padding-right: 5px;
          }
          .bmd-form-group {
            padding-top: 0;
            padding-right: 0;
          }
          input {
            background: url('../img/search.png');
            background-size: 20px;
            background-repeat: no-repeat;
            background-position: right center;
            border-bottom: 1px solid #000;
            font-size: 25px;
            padding-bottom: 0px;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 300;
          }
        }
      }
    }
    .choice {
      .left {
        text-align: right;
        line-height: 2.3;
      }
      .select {
        background-color: #fff;
        border-radius: 15px;
      }
    }
    .number-title {
      position: relative;
      margin: 30px 0;
      .release-number {
        position: absolute;
        top: -14px;
        background-color: $graybg;
        font-size: 20px;
        left: 50%;
        &.left {
          left: 0;
        }
        span {
          font-weight: 300;
        }
      }
      .line {
        border-top: 2px solid $gray;
        height: 2px;
        width: 100%;
      }
    }
    .more {
      position: relative;
      margin: 20px 0 40px;
      border-bottom: 2px solid $gray;
      button.btn-more {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        border-radius: 10px;
        cursor: pointer;
        padding: 10px 10px;
        font-weight: 300;
        font-family: 'Josefin Sans', sans-serif;

        color: #000 !important;
        img {
          width: 15px;
          margin: 0 5px;
        }
      }
    }
    .filter-group {
      background-color: transparent;
      .card-header {
        background-color: transparent;
        border: none;
        padding: 0;
        a {
          background-color: transparent;
          color: $text;
          padding: 0;
          margin: 0;
          .title {
            display: flex;
            align-items: center;
            background-color: transparent;
            margin: 10px 0;
            text-transform: uppercase;
            font-size: 20px;
            text-align: left;
            padding: 0;
            i {
              margin-left: 10px;
            }
          }
        }
      }
      .card-body {
        padding: 0;
        .form-check {
          margin-bottom: 5px;

          label {
            font-weight: 300;
            font-size: 20px;
            font-family: 'Josefin Sans', sans-serif;
          }
        }
      }
    }
    .articles,
    .files {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      a {
        .article,
        .file {
          max-width: 215px;
          width: 100%;
          background: #fff;
          height: 305px;
          margin: 0 0 30px;
          position: relative;
          transition: all 0.3s linear;

          &:hover {
            transform: scale(1.1);
            div.panel-text {
              top: 75px;
              background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 0.9) 0%,
                rgba(255, 255, 255, 0.8) 32%,
                rgba(255, 255, 255, 0.95) 54%,
                white 100%
              );

              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
                0 4px 5px rgba(0, 0, 0, 0.04);
              div {
                &.description {
                  height: auto;
                  opacity: 1;
                  transform: translateX(0);
                  color: #555;
                }
              }
              .type.two {
                opacity: 1;
                transform: translateX(0);
                transition: opacity 0s 0s linear;
              }
            }
          }
          img {
            width: 215px;
            height: 305px;
            object-fit: cover;
            position: relative;
          }
          div.panel-text {
            position: absolute;
            top: 215px;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            color: #000;
            background: rgb(255, 255, 255);

            box-shadow: 0px -10px 30px 0px rgba(255, 255, 255, 0.56);
            padding: 20px;
            transition: all 0.3s linear;
            .article-title {
              color: $text;
              font-size: 13px;
            }
            .type {
              transition: all 0.2s linear;
              display: flex;
              align-items: center;

              p {
                text-transform: uppercase;
                font-weight: 200;
                color: gray;
                line-height: 20px;
                margin: 0;
                font-size: 11px;
              }
              img {
                object-fit: contain;
                width: 20px;
                height: auto;
                padding-right: 5px;
                transition: all 0.3s linear;
              }
            }
            .type.two {
              opacity: 0;
              transition: opacity 0.3s linear;
              p {
                text-transform: none;
              }
            }
            div {
              font-size: 12px;
              transition: all 0.3s linear;
              &.description {
                margin: 10px 0;

                opacity: 0;
              }
            }
          }
        }
      }
    }
  }
  .more-articles {
    height: 0%;
    transition: all 0.5s linear;
    .article {
      opacity: 0;
      height: 0;
    }
    &.active {
      height: auto;
      .article {
        opacity: 1;
        height: auto;
        transition: all 0.5s linear;
      }
    }
  }
}
