section.prices {
  padding: 60px 10px;
  background-color: $graybg;
  .title {
    text-align: center;
    margin-bottom: 50px;
    p {
      color: $text;
      font-weight: 500;
    }
  }
  .price {
    &.plus {
      width: 100%;
      padding: 40px 3vw;
      h2.border-blue {
        margin: 0 auto 20px;
        text-align: center;
        max-width: 180px;
      }
      p {
        font-size: 16px;
        line-height: 26px;
      }
      h3.text-center {
        margin: 25px 0;
        font-size: 22px;
      }
      h2.blue {
        color: $lightblue;
        font-weight: 300;
        font-size: 40px;
        margin: 15px 0;
      }
      .get {
        max-width: 100%;
      }
      ul {
        &.more {
          max-width: 600px;
        }
        max-width: 430px;
        width: 100%;
        margin: 15px auto;
        font-size: 18px;
      }
    }
    .title {
      display: flex;
      align-items: center;
      margin: 0 0 30px;
      h3 {
        font-weight: 300;
        padding: 10px 15px 0;
        font-size: 20px;
        span {
          font-weight: 400;
        }
      }
    }
    div.price-abonament {
      max-width: 200px;
      width: 100%;
      margin: 0 auto;
      height: 150px;
      .price-info {
        font-size: 18px;
        font-family: "Josefin Sans", sans-serif;
        span {
          font-size: 28px;
        }
      }
      p.info {
        font-weight: 300;
        font-size: 16px;
        line-height: 14px;
        margin: 0 0 8px;
        img {
          max-width: 14px;
          height: auto;
          object-fit: contain;
          background-color: transparent;
          box-shadow: none;
          width: 100%;
        }
      }
      p.info-year {
        font-size: 14px;
        font-weight: 300;
        span {
          font-weight: 400;
        }
      }
    }
    .comment {
      display: flex;
      margin-top: 30px;
      font-size: 14px;
      font-weight: 500;
      max-width: 250px;
      margin: 30px auto 0;
      align-items: flex-start;
      font-weight: 300;
      img {
        max-width: 16px;
        height: auto;
        object-fit: contain;
        background-color: transparent;
        box-shadow: none;
        width: 100%;
      }
      p {
        margin-left: 10px;
      }
    }
    .pay-method {
      display: flex;
      margin-top: 30px;
      font-size: 14px;
      padding-left: 23px;
      max-width: 250px;
      margin: 0 auto 0;
      height: 90px;
    }

    .get {
      max-width: 250px;
      width: 100%;
      margin: 0 auto;
      margin-top: 25px;

      h2.border-blue {
        border-bottom: 4px solid $lightblue;
        font-size: 24px;
        padding-bottom: 10px;
        width: 200px;
        font-weight: 400;
      }
      ul {
        list-style: none;
        padding: 20px 0;
        li {
          display: flex;
          margin-bottom: 15px;
          font-size: 14px;
          &:before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 6px;
            content: "\f111";
            color: #00adef;
            padding-right: 10px;
            padding-top: 7px;
          }
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
