section.calendar {
  padding: 60px 20px;
  position: relative;
  margin: 20px auto;

  .container {
    max-width: 1250px;
  }
  .title {
    text-align: center;
    h1 {
      font-weight: 700;
    }
    .border-orange {
      width: 49%;
      margin: 10px auto 30px;
      border-top: 3px solid $orangetwo;
      height: 3px;
    }
  }
  .slider-calendar {
    position: relative;
    margin: 80px 0;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    margin: 20px auto;
    text-align: center;
    padding: 150px 30;

    .slide {
      max-width: 200px;
      width: 100%;
      height: 320px;
      margin: 20px 0;
      transition: all 0.3s linear;

      cursor: pointer;
      .space {
        .child-element {
          padding: 15px 15px;

          width: 100%;
          height: 320px;
          position: relative;
          z-index: 5;
          img {
            height: 162px;
            object-fit: cover;
          }
          .date {
            padding: 0 20px 20px;
            text-align: center;

            text-transform: uppercase;

            h1 {
              margin: 0;
              font-size: 30px;
              line-height: 30px;
              font-weight: 700;
              padding: 0;
            }
            p {
              margin: 0;
              font-size: 16px;
              line-height: 16px;
              font-weight: 400;
              padding: 0;
            }
          }
          .text {
            padding: 15px 0 0;
            transition: all 0.5s linear;
            h3 {
              font-size: 16px;
              transition: all 0.5s linear;
            }
            .links {
              display: none;
              transition: all 0.5s linear;
            
            }
          }
        }
      }
      &.active {
        padding: 0px;
        height: 100%;
        .space {
          padding: 0;
          height: 100%;
          // margin: 0 30px;
          .child-element {
            max-width: initial;
            transform: scale(1.3);

            position: relative;
            z-index: 555;
            padding: 10px;
            img {
              height: 300px;
              object-fit: cover;
            }

            .date {
              position: absolute;
              width: 70px;
              height: 70px;
              background-color: RGBA(255, 255, 255, 0.7);
              border-radius: 50%;
              display: flex;
              text-transform: uppercase;
              flex-wrap: wrap;
              justify-content: center;
              text-align: center;
              padding: 20px 15px 15px;
              top: 40px;
              left: 50%;
              transform: translateX(-50%);
              h1 {
                margin: 0;
                font-size: 20px;
                line-height: 15px;
                padding: 0;
              }
              p {
                margin: 0;
                font-size: 12px;
                line-height: 12px;
                font-weight: 400;
                padding: 0;
              }
            }
            .text {
              padding: 15px 0 0;
              position: absolute;
              bottom: 10px;
              left: 10px;
              right: 10px;
              padding: 0 10px 10px;
              background-color: rgba(0, 0, 0, 0.5);

              h3 {
                font-size: 14px;
                text-align: center;
                color: #fff;
                margin-top: 10px;
              }
              p {
                color: #fff;
                text-align: left;
                font-size: 10px;
                line-height: 14px;
              }
              .links {
                display: block;
                text-align: left;
                a {
                  display: block;
                  color: $yellow;
                  font-size: 10px;
                  line-height: 14px;
                  text-align: center;
                  &.right {
                    text-align: right;
                  }
                }
              }
            }
          }
        }
      }
    }
    .slick-next {
      width: 50px;
      height: 50px;
      right: 0;
      top: 50%;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      &:before {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        color: #000;
        content: '\f054';
      }
    }
    .slick-prev {
      width: 50px;
      height: 50px;
      left: 0;
      top: 50%;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      z-index: 555;
      &:before {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        color: #000;
        content: '\f053';
      }
    }
  }
}
