section.register {
  background-color: $graybg;
  padding: 60px 10px;
  .row {
    align-items: flex-start;
  }
  a {
    color: #00adef;
  }
  .left {
    padding-right: 20px;
    .account-head {
      display: flex;
      position: relative;
      img {
        box-shadow: none;
        width: 100%;
      }
      .account-info-title {
        position: absolute;
        text-align: right;
        right: 0;
        bottom: 10px;

        color: #000;
        h3 {
          text-align: right;
        }
        p {
          text-align: right;
          font-size: 14px;
          color: $graytwo;
        }
      }
    }
    .title {
      display: flex;
      align-items: center;
      margin: 0 0 30px;
      h3 {
        color: $text;
        font-weight: 500;
        padding: 0px 15px 0;
        font-size: 20px;
        span {
          font-weight: 400;
        }
      }
    }
    div.price-abonament {
      max-width: 300px;
      width: 100%;
      margin: 0 auto;
      .price-info {
        font-size: 18px;
        font-family: 'Josefin Sans', sans-serif;

        span {
          font-size: 28px;
        }
      }
      p.info {
        font-weight: 300;
        font-size: 16px;
        line-height: 14px;
        margin: 0 0 10px;
        img {
          max-width: 14px;
          height: auto;
          object-fit: contain;
          background-color: transparent;
          box-shadow: none;
          width: 100%;
          margin-left: 5px;
        }
      }
      a.return {
        color: $lightblue;
        display: flex;
        align-items: center;
        transition: all 0.3s linear;
        line-height: 30px;
        font-weight: 300;
        font-size: 16px;
        margin-bottom: 15px;
        i {
          padding-right: 10px;
        }
        &:hover {
          color: $blue;
        }
      }
      p.info-year {
        font-size: 14px;
        font-weight: 300;
        span {
          font-weight: 400;
        }
      }
    }
    .comment {
      display: flex;
      margin-top: 30px;
      font-size: 14px;
      font-weight: 500;
      max-width: 300px;
      margin: 30px auto 0;
      align-items: flex-start;
      font-weight: 300;
      img {
        max-width: 16px;
        height: auto;
        object-fit: contain;
        background-color: transparent;
        box-shadow: none;
        width: 100%;
      }
      p {
        margin-left: 10px;
      }
    }
    .pay-method {
      display: flex;
      margin-top: 30px;
      font-size: 14px;
      padding-left: 0px;
      max-width: 250px;
      margin: 0 auto 0;
      min-height: 80px;
    }
    .get {
      width: 100%;
      margin: 0 auto;
      margin-top: 50px;
      padding: 40px;
      &.account {
        margin-top: 0;
      }
      div {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        h2.border-blue {
          border-bottom: 4px solid $lightblue;
          font-size: 24px;
          padding-bottom: 10px;
          width: 200px;
          font-weight: 400;
        }
        a {
          display: block;
          color: $text;
          font-size: 18px;
          margin: 10px 0;
          &:hover {
            color: $lightblue;
          }
        }
        ul {
          list-style: none;
          padding: 20px 0;
          li {
            display: flex;
            margin-bottom: 15px;
            font-size: 14px;
            &:before {
              font-family: 'Font Awesome 5 Free';
              font-weight: 900;
              font-size: 6px;
              content: '\f111';
              color: #00adef;
              padding-right: 10px;
              padding-top: 7px;
            }
            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    h2.type {
      font-size: 24px;
      span {
        font-size: 35px;
      }
    }

    p.price {
      font-size: 40px;
      span {
        font-size: 20px;
      }
    }
    p.time-price,
    p.month-price {
      color: $graytwo;
    }
    p.month-price {
      font-size: 20px;
    }
    ul {
      list-style: none;
      padding: 20px 0;
      li {
        display: flex;
        margin-bottom: 15px;
        &:before {
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          content: '\f00c';
          color: #00adef;
          padding-right: 10px;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
    .info {
      display: flex;

      margin-top: 20px;

      i {
        color: $graytwo;
        margin-top: 5px;
        padding-left: 10px;
      }
    }
  }
  .right {
    padding: 30px;
    &.account {
      padding: 30px 30px 0;

      .abonament-row {
        padding: 20px 0;
        border-bottom: 1px solid $gray;
        align-items: center;
        &:last-of-type {
          border: none;
        }
        .abonament-title {
          p {
            font-weight: 500;
            margin-bottom: 0;
          }
          a.gray {
            color: gray;
            font-weight: 300;
            margin: 0;
            font-size: 12px;
            transition: all 0.3s linear;
            &:hover {
              color: $lightblue;
            }
          }
        }
        .abonament-edit {
          p {
            img {
              box-shadow: none;
              width: 50px;
            }
          }
          a.btn.btn-outline-primary.btn-rounded.waves-effect.btn-block {
            border-color: $lightblue;
            color: $lightblue;
            transition: all 0.3s linear;
            &:hover {
              background-color: $lightblue;
              color: #fff;
            }
          }
        }
      }
      form {
        .form-group {
          max-width: 320px;
          width: 100%;
          margin: 0px auto;
          padding-top: 15px;
          .email-proved {
            margin: 10px 0 20px;

            .proved {
              display: flex;

              &.none {
                i {
                  color: red;
                }
                div {
                  p {
                    margin-bottom: 0;
                  }
                  a {
                    margin: 0;
                  }
                }
              }
              i {
                font-size: 20px;
                color: green;
                padding-top: 20px;
                padding-right: 10px;
              }
              div {
                p {
                  text-align: left;
                  font-size: 16px;
                }
              }
            }
          }

          input.form-control {
            background-color: #fff;
            border-radius: 10px;
            border: none;
            box-shadow: none;
            background-image: none;
            padding: 0 20px;
            font-size: 14px;
            color: #555;

            &::placeholder {
              font-size: 14px;
              color: #aaa;
            }
          }
          @-moz-document url-prefix() {
            input.form-control {
              &::placeholder {
                line-height: 32px;
              }
            }
          }
        }
      }
    }
  }
  p.thanks-text {
    max-width: 380px;
    width: 100%;
    margin: 20px auto 10px;
  }
  .smile {
    img {
      box-shadow: none;
      width: 100px;
      margin: 0 auto;
      display: block;
    }
  }
  .steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    p {
      width: 100%;
      text-align: center;
      font-size: 16px;
    }
    .step {
      width: 30px;
      margin: 0 5px;
      height: 7px;
      background-color: $gray;
      border-radius: 15px;
      &.active {
        background-color: $lightblue;
      }
    }
  }
  h3 {
    margin-top: 20px;
    font-weight: 300;
    text-align: center;
    &.thanks-title {
      margin: 0;
    }
  }
  form {
    p.register-three-info {
      font-size: 14px;
      text-align: left;
      max-width: 320px;
      width: 100%;
      margin: 20px auto;
    }
    .choices {
      margin: 10px auto 30px;
      &.step-3 {
        .choice {
          .box {
            img {
              max-width: 30px;
            }
          }
        }
      }
      .choice {
        .box {
          &.active,
          &:hover {
            border: 6px solid $lightblue;
            padding: 15px;
          }
          border-radius: 15px;
          padding: 21px;
          border: 2px solid $gray;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-bottom: 10px;
          cursor: pointer;

          img {
            max-width: 40px;
            box-shadow: none;
            margin-bottom: 10px;
          }
          p {
            margin: 0;
            line-height: 1;
          }
        }
        a {
          color: $text;
          font-size: 12px;
        }
      }
    }
    .line-dots {
      border-top: 3px solid $gray;
      max-width: 90%;
      margin: 20px auto;
      position: relative;
      &.login {
        margin-top: 50px;
      }
      p {
        position: absolute;
        top: -23px;
        left: 50%;
        font-size: 14px;
        color: $graytwo;
        background-color: #fff;
        padding: 0 10px;
        transform: translate(-50%, -50%);
      }
      i {
        color: $lightblue;
        position: absolute;
        top: 0;
        left: 50%;
        background-color: #fff;
        padding: 0 10px;
        transform: translate(-50%, -50%);
      }
    }
    a.create-account-link {
      text-align: center;
      display: block;

      color: $text;
    }
    p.info {
      text-align: left;
      padding: 20px;
    }
    .form-group {
      max-width: 320px;
      width: 100%;
      margin: 0px auto;
      padding-top: 15px;

      input.form-control {
        background-color: $graybg;
        border-radius: 10px;
        border: none;
        box-shadow: none;
        background-image: none;
        padding: 0 20px;
        font-size: 14px;
        color: #555;

        &::placeholder {
          font-size: 14px;
          color: #aaa;
        }
      }
      @-moz-document url-prefix() {
        input.form-control {
          &::placeholder {
            line-height: 32px;
          }
        }
      }
    }

    p {
      margin: 20px 0;
      font-size: 10px;
      text-align: center;
      &.info {
        font-size: 12px;
      }

      a {
        color: #000;
        text-decoration: underline;
      }
    }
    .btn {
      background-color: $lightblue;
      color: #fff;
      border-color: $lightblue;
      width: 250px;
      margin: 10px auto;
      &:hover {
        background-color: #009cde;
        color: #fff;
        border-color: #009cde;
      }
    }
    .custom-checkbox {
      margin: 0 auto;
      margin-top: 30px;
      max-width: 280px;
      width: 100%;
      label {
        padding-left: 25px;
        padding-top: 5px;
        font-size: 9px;
        line-height: 15px;
      }
    }
  }
}
.form-group.position-relative input {
  padding-right: 32px;
}

.form-password-icon {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  bottom: 4px;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 24px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  right: 0;
  width: 24px;
  z-index: 10;
}

.form-text ~ .form-password-icon {
  bottom: calc(1rem + 18px);
}

.form-password-icon .material-icons {
  font-size: 16px;
  font-weight: 500;
}
