section.register-article {
  background-color: $graybg;
  padding: 60px 20px;
  .login-choice {
    .left {
      text-align: right;
      border-right: 1px solid $text;
    }
  }
  .title {
    text-align: center;
    margin: 20px 0 60px;
  }
  .choices {
    .choice {
      &.active {
        a {
          p {
            span {
              border-bottom: 3px solid $orangetwo;
              padding-bottom: 8px;
            }
          }
        }
      }
      text-align: center;
      a {
        color: $text;
        h4 {
          font-weight: 700;
        }
      }
    }
  }
  .order-now {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
}
