section.popular {
  padding: 60px 20px;
  &.article-popular {
    padding: 20px 0px 20px;
    .title {
      background-color: #fff;
      font-weight: 300;
      padding: 10px;
      margin-bottom: 40px;
      box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1),
        0 0px 15px rgba(207, 149, 149, 0.1);
    }
    .slide {
      margin: 0 10px;

      .card {
        padding: 10px;
        position: relative;
        a.btn-download-two {
          position: absolute;
          bottom: 10px;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          align-items: center;
          margin: 10px auto 0;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
            0 1px 2px rgba(0, 0, 0, 0.24);
          background-color: $gray;
          &:hover {
            background-color: $graybg;
          }
          img {
            width: 15px;
            margin-right: 10px;
            object-fit: contain;
            height: auto;
            box-shadow: none;
          }
        }

        img {
          width: 100%;
          height: 190px;
          object-fit: cover;
        }
      }
      h3 {
        padding: 15px 0;
        color: #000;
        font-size: 14px;
        font-weight: 400;
        font-family: 'Work Sans', sans-serif;
      }
    }
  }

  .title {
    text-align: center;
    font-weight: 300;
    h1 {
      font-weight: 700;
    }
    .border-orange {
      width: 35%;
      margin: 10px auto 30px;
      border-top: 3px solid $orangetwo;
      height: 3px;
    }
  }
  .slider-popular,
  .slider-popular-two {
    position: relative;
    .slick-next {
      width: 50px;
      height: 50px;
      right: 10px;
      top: 40%;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      &:before {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        color: #000;
        content: '\f054';
      }
    }
    .slick-prev {
      width: 50px;
      height: 50px;
      left: 10px;
      top: 40%;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      z-index: 555;
      &:before {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        color: #000;
        content: '\f053';
      }
    }
    .slide {
      margin: 0 10px;

      .card {
        padding: 10px;
        position: relative;
        a.btn-download-two {
          position: absolute;
          bottom: 10px;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          align-items: center;
          margin: 10px auto 0;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
            0 1px 2px rgba(0, 0, 0, 0.24);
          background-color: $gray;
          &:hover {
            background-color: $graybg;
          }
          img {
            width: 15px;
            margin-right: 10px;
            object-fit: contain;
            height: auto;
            box-shadow: none;
          }
        }

        img {
          width: 100%;
          height: 190px;
          object-fit: cover;
        }
      }
      h3 {
        padding: 15px 0;
        color: $text;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}
