section.intro {
  padding: 60px 20px;
  margin: 0 auto;
  .wydanie {
    h4 {
      font-size: 18px;
    }

    padding-left: 40px;
    span {
      color: $graytwo;
    }
  }
  .show {
    a {
      h4 {
        font-size: 18px;
      }
      color: $graytwo;
      font-weight: 500;
    }
  }
  .slick-next {
    width: 50px;
    height: 50px;
    right: 10px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    &:before {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      color: #000;
      content: '\f054';
    }
  }
  .slick-prev {
    width: 50px;
    height: 50px;
    left: 10px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 555;
    &:before {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      color: #000;
      content: '\f053';
    }
  }
  .card {
    margin: 15px 20px;
    padding: 15px 15px 5px;
    height: 290px;
    a {
      height: 290px;

      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
      .text {
        p {
          padding: 15px 0 0;
          font-size: 14.53px;
          font-weight: 500;
          color: $text;
        }
      }
    }
  }
}
