section.article {
  padding: 100px 20px 30px;
  background-color: #fff;
  position: relative;
  .article-panel {
    text-transform: uppercase;
  }
  &.file {
    padding-bottom: 0;
    .bg {
      height: 340px;
    }
    .container {
      .right {
        padding-left: 30px;
        .file-article {
          h1 {
            font-weight: 300;
            margin-top: 10px;
          }
        }
        p {
          &.title-up {
            color: $graytwo;
          }
          &:first-of-type {
            margin-top: 0;
            margin-bottom: 0;
          }
          margin: 30px 0 0;
          &:nth-last-of-type(2) {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .bg {
    background-color: $graybg;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 300px;
  }
  .img-card {
    padding: 10px;

    img {
      object-fit: cover;
      object-position: center;
    }
  }
  .right {
    h1 {
      margin: 20px 0 0;
      font-size: 40px;
      font-weight: 400;
    }
    .tags {
      display: flex;
      flex-wrap: wrap;
      color: $graytwo;
      div {
        margin: 5px 15px 5px 0;
      }
    }
    .autors {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      .autor {
        display: flex;
        align-items: center;
        color: $text;
        font-family: "Josefin Sans", sans-serif;
        margin-top: 20px;
        margin: 15px 15px 0 0;
        font-size: 20px;
        font-weight: 300;
        img.circle {
          width: 50px;
          height: 50px;
          object-fit: cover;
          object-position: center;
          border-radius: 50%;
          margin-right: 10px;
        }
      }
    }
    p {
      font-size: 18px;
      line-height: 24px;
      margin-top: 50px;
    }
    a {
      color: $text;
      font-size: 18px;
      font-weight: 300;
      font-family: "Josefin Sans", sans-serif;
    }
  }
}
