section.list-item {
  padding: 60px 20px;
  .filter-group {
    border-bottom: 1px solid #e4e4e4;
  }

  .card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.37rem;
  }

  .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: $text;
  }

  .filter-group .card-header {
    border-bottom: 0;
  }

  .icon-control {
    margin-top: 6px;
    float: right;
    font-size: 80%;
  }

  h6.title {
    color: $text;
    text-transform: uppercase;
  }
}
