@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700&display=swap');
@keyframes nav {
  from {
    top: -100px;
  }

  to {
    top: 0;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: $text;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 4px 5px rgba(0, 0, 0, 0.04);
}
a,
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-family: 'Josefin Sans', sans-serif;
}

p {
  line-height: 1.2;
}
img {
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 4px 5px rgba(0, 0, 0, 0.04);
}
.btn {
  padding: 7px 20px;
  border-radius: 5px;
}
.btn-orange {
  background-color: $orange;
  text-transform: none;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  transition: all 0.3s linear;
  &:hover {
    background-color: $orangetwo;
    color: #fff;
  }
}
.btn-blue {
  background-color: $lightblue;
  text-transform: none;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  padding: 3px 30px;
  border-radius: 10px;
  transition: all 0.3s linear;
  &:hover {
    background-color: $blue;
    color: #fff;
  }
}
.article-panel {
  background-color: #fff;
  padding: 8px 15px;
  font-size: 16px;
  display: inline;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.arrow-r:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f054';
  font-size: 14px;
  margin-right: 5px;
}
.pol {
  display: flex;
  align-items: center;

  &:before {
    content: '';
    background: url('../img/book.png');
    width: 25px;
    height: 25px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 5px;
  }
}
.c-1 {
  display: flex;
  align-items: center;

  &:before {
    content: '';
    background: url('../img/plecak.png');
    width: 25px;
    height: 25px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 5px;
  }
}
.cat {
  display: flex;
  align-items: center;

  &:before {
    content: '';
    background: url('../img/puchar.png');
    width: 25px;
    height: 25px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 5px;
  }
}
h1.title {
  text-align: center;
  margin: 15px auto;
  span {
    border-bottom: 3px solid $orangetwo;
  }
}
.gray {
  background-color: $graybg;
}
section.title {
  background-color: #fff;
  padding: 20px 10px;
  width: 100%;
  text-align: center;
}
a.btn-download {
  background-color: $blue;
  margin: 0 10px;
  border-radius: 0;
  color: #fff !important;
  font-size: 18px !important;
  font-weight: normal;
  padding: 4px 15px;
  img {
    width: 20px;
  }
}
.read {
  &.file {
    padding-top: 0px;
  }
  padding: 40px 10px;
  position: relative;
  font-size: 18px;
  line-height: 1.6;
  text-align: left !important;
  h3 {
    font-size: 20px;
  }
  p {
    line-height: 1.6;
    text-align: left !important;
  }
  ul,
  ol,
  li {
    text-align: left !important;
  }
  .not-register {
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.8) 32%,
      rgba(255, 255, 255, 0.95) 54%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  .container {
    max-width: 750px;
  }
}
.mt-30 {
  margin-top: 30px !important;
}
button.btn.disabled {
  background-color: #ccc;
  color: #000;

  display: block;
  &:hover {
    background-color: #ccc;
    color: #000;

    display: block;
  }
}

a {
  color: $text;
  &:hover {
    color: $lightblue;
  }
}
/* Tooltip */
.tooltip {
  &.show {
    opacity: 1;
  }
  .white {
    background: rgba(255, 255, 255, 1) !important;
    opacity: 1;
    text-align: left;
    color: $text;
    font-size: 12px;
    padding: 10px 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
}
.missing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  img {
    max-width: 400px;
    width: 100%;
    box-shadow: none;
    margin-bottom: 50px;
  }
  .text {
    text-align: center;
    h1 {
      color: $lightblue;
      font-size: 50px;
    }
  }
  img.logo {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 200px;
  }
}
.regulamin {
  padding: 60px 10px;
  .card {
    padding: 30px 4vw;
  }
  p {
    margin: 0;
    font-size: 18px;
  }
  ol {
    margin: 15px 0;
    li {
      margin: 10px;
      font-size: 16px;
    }
    ol {
      margin: 0;
      padding-left: 15px;
      list-style-type: lower-latin;
      ol {
        list-style-type: decimal;
      }
    }
  }
}
