@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700&display=swap");
@-webkit-keyframes nav {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}
@keyframes nav {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #262626;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

.card {
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 4px 5px rgba(0, 0, 0, 0.04);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 4px 5px rgba(0, 0, 0, 0.04);
}

a,
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: 'Josefin Sans', sans-serif;
}

p {
  line-height: 1.2;
}

img {
  width: 100%;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 4px 5px rgba(0, 0, 0, 0.04);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 4px 5px rgba(0, 0, 0, 0.04);
}

.btn {
  padding: 7px 20px;
  border-radius: 5px;
}

.btn-orange {
  background-color: #fc6f6d;
  text-transform: none;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.btn-orange:hover {
  background-color: #fe9681;
  color: #fff;
}

.btn-blue {
  background-color: #9ad3ee;
  text-transform: none;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  padding: 3px 30px;
  border-radius: 10px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.btn-blue:hover {
  background-color: #3c5e91;
  color: #fff;
}

.article-panel {
  background-color: #fff;
  padding: 8px 15px;
  font-size: 16px;
  display: inline;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.arrow-r:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f054';
  font-size: 14px;
  margin-right: 5px;
}

.pol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pol:before {
  content: '';
  background: url("../img/book.png");
  width: 25px;
  height: 25px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.c-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-1:before {
  content: '';
  background: url("../img/plecak.png");
  width: 25px;
  height: 25px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cat:before {
  content: '';
  background: url("../img/puchar.png");
  width: 25px;
  height: 25px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 5px;
}

h1.title {
  text-align: center;
  margin: 15px auto;
}

h1.title span {
  border-bottom: 3px solid #fe9681;
}

.gray {
  background-color: #f9f9f9;
}

section.title {
  background-color: #fff;
  padding: 20px 10px;
  width: 100%;
  text-align: center;
}

a.btn-download {
  background-color: #3c5e91;
  margin: 0 10px;
  border-radius: 0;
  color: #fff !important;
  font-size: 18px !important;
  font-weight: normal;
  padding: 4px 15px;
}

a.btn-download img {
  width: 20px;
}

.read {
  padding: 40px 10px;
  position: relative;
  font-size: 18px;
  line-height: 1.6;
  text-align: left !important;
}

.read.file {
  padding-top: 0px;
}

.read h3 {
  font-size: 20px;
}

.read p {
  line-height: 1.6;
  text-align: left !important;
}

.read ul,
.read ol,
.read li {
  text-align: left !important;
}

.read .not-register {
  position: absolute;
  top: 40%;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(32%, rgba(255, 255, 255, 0.8)), color-stop(54%, rgba(255, 255, 255, 0.95)), to(white));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.8) 32%, rgba(255, 255, 255, 0.95) 54%, white 100%);
}

.read .container {
  max-width: 750px;
}

.mt-30 {
  margin-top: 30px !important;
}

button.btn.disabled {
  background-color: #ccc;
  color: #000;
  display: block;
}

button.btn.disabled:hover {
  background-color: #ccc;
  color: #000;
  display: block;
}

a {
  color: #262626;
}

a:hover {
  color: #9ad3ee;
}

/* Tooltip */
.tooltip.show {
  opacity: 1;
}

.tooltip .white {
  background: white !important;
  opacity: 1;
  text-align: left;
  color: #262626;
  font-size: 12px;
  padding: 10px 15px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.missing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  position: relative;
}

.missing img {
  max-width: 400px;
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 50px;
}

.missing .text {
  text-align: center;
}

.missing .text h1 {
  color: #9ad3ee;
  font-size: 50px;
}

.missing img.logo {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  max-width: 200px;
}

.regulamin {
  padding: 60px 10px;
}

.regulamin .card {
  padding: 30px 4vw;
}

.regulamin p {
  margin: 0;
  font-size: 18px;
}

.regulamin ol {
  margin: 15px 0;
}

.regulamin ol li {
  margin: 10px;
  font-size: 16px;
}

.regulamin ol ol {
  margin: 0;
  padding-left: 15px;
  list-style-type: lower-latin;
}

.regulamin ol ol ol {
  list-style-type: decimal;
}

.navbar-first {
  padding-bottom: 0px;
  padding-top: 10px !important;
  margin: 0;
  height: 65px;
  font-family: "Josefin Sans", sans-serif;
  background-color: #fff !important;
  position: relative;
  z-index: 10;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-first .logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-first .logo img {
  max-width: 150px;
  width: 100%;
  margin: 0 auto;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-first .navbar-nav .nav-item {
  width: 100px;
}

.navbar-first .navbar-nav .nav-item a.nav-link {
  color: #262626;
  text-transform: none;
  text-align: center;
  font-size: 16px;
}

.navbar-first .navbar-nav .nav-item a.nav-link:hover {
  color: #ddd;
}

.navbar-first .account-links {
  color: #fff;
  width: 700px;
  padding-top: 10px;
}

.navbar-first .account-links .account-dropdown {
  border-left: 1px solid #eeeeee;
}

.navbar-first .account-links .account-dropdown a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-first .account-links .account-dropdown a i {
  padding-right: 5px;
  font-size: 24px;
  display: block;
}

.navbar-first .account-links ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-first .account-links li {
  font-size: 16px;
  padding-right: 10px;
}

.navbar-first .account-links li a {
  color: #262626;
}

.navbar-first .account-links li a:hover {
  color: #ddd;
}

.navbar-first .account-links ul a {
  display: block;
  color: #9c9c9c;
  text-decoration: none;
  padding: 15px 15px;
  background: #fff;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
}

.navbar-first .account-links ul a:hover {
  color: #000;
  background-color: #fff;
  text-shadow: 0 0 2px white;
  -webkit-text-shadow: 0 0 2px white;
  -moz-text-shadow: 0 0 2px white;
  -o-text-shadow: 0 0 2px white;
  -ms-text-shadow: 0 0 2px white;
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
}

.navbar-first .account-links ul li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  background: #fff;
}

.navbar-first .account-links ul li.current-menu-item {
  background-color: #fff;
}

.navbar-first .account-links ul li:hover {
  background-color: #fff;
}

.navbar-first .account-links ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  padding: 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 9999999999999999999999999999999;
  overflow-y: visible;
}

.navbar-first .account-links ul ul li {
  float: none;
  width: 150px;
}

.navbar-first .account-links ul ul a {
  line-height: 120%;
  padding: 10px 15px;
  background: #fff;
}

.navbar-first .account-links ul ul ul {
  top: 0;
  left: 100%;
}

.navbar-first .account-links ul li:hover > ul {
  display: block;
}

/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="col"] {
  margin-bottom: 1rem;
}

#nav-fix {
  background-color: #fff !important;
  font-family: "Josefin Sans", sans-serif;
  z-index: 1;
  position: relative;
  top: 10px;
  -webkit-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1), 0 0px 15px rgba(207, 149, 149, 0.1);
          box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1), 0 0px 15px rgba(207, 149, 149, 0.1);
}

#nav-fix a {
  color: #262626;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  height: 100%;
  padding: 0 5px;
  padding-bottom: 3px;
  cursor: pointer;
}

#nav-fix a:hover {
  border-bottom: 3px solid #fc6f6d;
  padding-bottom: 0;
}

#nav-fix a.main-category {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

#nav-fix .dropdown-toggle:after {
  display: none;
}

.navbar .dropdown-menu {
  border: none;
  background-color: #fff !important;
  color: #000;
  padding: 40px;
}

.navbar .dropdown-menu .nav-item {
  padding: 0;
}

.navbar .dropdown-menu .nav-item:last-of-type {
  margin-bottom: 10px;
}

.navbar .dropdown-menu .nav-item a.nav-link {
  color: #000;
  text-transform: none;
  padding: 0 !important;
}

/* shows the dropdown menu on hover */
.navbar .dropdown:hover .dropdown-menu,
.navbar .dropdown .dropdown-menu:hover {
  display: block;
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0s, opacity 0.3s linear;
  transition: visibility 0s, opacity 0.3s linear;
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {
  /* remove the padding from the navbar so the dropdown hover state is not broken */
  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
  .navbar .nav-item {
    padding: 0.5rem 0.5rem;
    margin: 0 0.25rem;
  }
  /* makes the dropdown full width  */
  .navbar .dropdown {
    position: static;
  }
  .nav-link.dropdown-toggle.active {
    border-bottom: 3px solid #fe9681;
  }
  .navbar .dropdown-menu {
    width: 900px;
    left: 0;
    right: 0;
    /*  height of nav-item  */
    top: 30px;
    margin: 15px auto;
    display: block;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s, opacity 0.3s linear;
    transition: visibility 0s, opacity 0.3s linear;
  }
  .navbar .dropdown-menu span {
    margin-top: 15px;
  }
  .navbar .dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
}

.sticky-top {
  -webkit-animation: nav 0.5s linear;
          animation: nav 0.5s linear;
  position: fixed !important;
  top: 0 !important;
  left: 0;
  margin-top: 0 !important;
  right: 0;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;..");
}

@keyframes nav {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-moz-document url-prefix() {
  .input-group .search-text::placeholder {
    line-height: 52px;
  }
}

header {
  position: relative;
  z-index: 0;
  margin-top: 20px;
  font-family: 'Josefin Sans', sans-serif;
}

header form {
  max-width: 600px;
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
  width: 100%;
  position: absolute;
  -webkit-transform: translate(-300px, 0);
          transform: translate(-300px, 0);
  top: 50%;
  left: 50%;
  z-index: 10;
  margin: 0 auto;
}

header form .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header form .input-group .search-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header form .input-group .search-text::-webkit-input-placeholder {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

header form .input-group .search-text:-ms-input-placeholder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

header form .input-group .search-text::-ms-input-placeholder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

header form .input-group .search-text::placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header form .btn.btn-outline-secondary.dropdown-toggle-new {
  background-color: #fff;
  outline: none;
  border: none;
}

header form .btn.btn-outline-secondary.dropdown-toggle-new:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  padding-right: 15px;
  padding-left: 10px;
  color: #262626;
  font-size: 12px;
  content: '\f078';
}

header form .btn.btn-outline-secondary.dropdown-toggle-new:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fff;
  border: none;
}

header form .btn.btn-outline-secondary.btn-search {
  border: none;
}

header form .btn.btn-outline-secondary.btn-search:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fff;
  border: none;
}

header form input,
header form .dropdown,
header form button {
  -webkit-box-shadow: 0px 7px 0px rgba(0, 0, 0, 0.26), 0 3px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0px 7px 0px rgba(0, 0, 0, 0.26), 0 3px 0 rgba(0, 0, 0, 0.15);
  background: none;
  background-color: #fff;
  padding-left: 10px;
  height: 52px;
  border: none;
}

header form input:focus, header form input:active, header form input:hover,
header form .dropdown:focus,
header form .dropdown:active,
header form .dropdown:hover,
header form button:focus,
header form button:active,
header form button:hover {
  background-color: #fff !important;
  outline: transparent;
  border: none;
}

header form input {
  width: 90%;
  border-color: #fff;
}

header form .dropdown-toggle-new {
  border: none;
  text-transform: none;
  font-size: 20px;
  font-weight: 300;
  padding: 10px 25px;
  border-radius: 25px;
  border-color: #fff;
  height: 52px;
  border: none;
}

header form .btn {
  background-color: #fff;
}

header form .btn.btn-search {
  background-color: #fff;
  color: #262626;
  text-align: center;
  width: 10%;
  height: 52px;
  border-radius: 50%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-color: #fff;
}

header form .btn.btn-search img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  right: 25px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

header img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 600px) {
  header {
    position: relative;
    z-index: 0;
    margin-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
  }
  header .dark-header {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 1;
  }
  header .dark-header form {
    max-width: 600px;
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-transform: translate(-44%, 0);
            transform: translate(-44%, 0);
    top: 50%;
    left: 50%;
    z-index: 10;
    margin: 0 auto;
  }
  header .dark-header form .input-group {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  header .dark-header form .input-group input,
  header .dark-header form .input-group .dropdown,
  header .dark-header form .input-group button {
    background: none;
    background-color: #fff;
    height: 52px;
    border: none;
  }
  header .dark-header form .input-group input:focus, header .dark-header form .input-group input:active,
  header .dark-header form .input-group .dropdown:focus,
  header .dark-header form .input-group .dropdown:active,
  header .dark-header form .input-group button:focus,
  header .dark-header form .input-group button:active {
    background-color: #fff !important;
    outline: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
  }
  header .dark-header form .input-group input {
    width: 150px;
    border-color: #fff;
  }
  header .dark-header form .input-group .input-group-prepend {
    width: 100px;
  }
  header .dark-header form .input-group .input-group-prepend .dropdown-toggle-new {
    border: none;
    text-transform: none;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 25px;
    border-radius: 25px;
    border-color: #fff;
    height: 52px;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
  }
  header .dark-header form .input-group .input-group-prepend .dropdown-toggle-new:after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    padding-right: 15px;
    padding-left: 10px;
    color: #262626;
    font-size: 12px;
    content: '\f078';
    border-right: 1px solid #262626;
  }
  header .dark-header form .input-group .btn.btn-outline-secondary {
    background-color: #fff;
  }
  header .dark-header form .input-group .btn.btn-outline-secondary.btn-search {
    background-color: #fff;
    color: #262626;
    text-align: center;
    width: 50px;
    height: 52px;
    border-radius: 50%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-color: #fff;
  }
  header .dark-header form .input-group .btn.btn-outline-secondary.btn-search img {
    height: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  header img {
    width: 100%;
    height: 600px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

section.intro {
  padding: 60px 20px;
  margin: 0 auto;
}

section.intro .wydanie {
  padding-left: 40px;
}

section.intro .wydanie h4 {
  font-size: 18px;
}

section.intro .wydanie span {
  color: #909090;
}

section.intro .show a {
  color: #909090;
  font-weight: 500;
}

section.intro .show a h4 {
  font-size: 18px;
}

section.intro .slick-next {
  width: 50px;
  height: 50px;
  right: 10px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

section.intro .slick-next:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #000;
  content: '\f054';
}

section.intro .slick-prev {
  width: 50px;
  height: 50px;
  left: 10px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 555;
}

section.intro .slick-prev:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #000;
  content: '\f053';
}

section.intro .card {
  margin: 15px 20px;
  padding: 15px 15px 5px;
  height: 290px;
}

section.intro .card a {
  height: 290px;
}

section.intro .card a img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

section.intro .card a .text p {
  padding: 15px 0 0;
  font-size: 14.53px;
  font-weight: 500;
  color: #262626;
}

section.event {
  padding: 60px 20px;
  background: #f7f6f4 url("../img/bg.png");
  background-attachment: fixed;
  position: relative;
  top: 0;
  left: 0;
  z-index: 555;
}

section.event .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.event .row .card {
  max-width: 350px;
  padding: 15px;
  height: 440px;
  position: relative;
}

section.event .row .card .banner {
  background-color: #fff;
  padding: 5px 15px;
  position: absolute;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  text-transform: uppercase;
  font-size: 18px;
}

section.event .row .card.article .banner {
  top: 50px;
  left: -15px;
}

section.event .row .card.download .banner {
  bottom: 180px;
  right: -15px;
  background-color: #fc6f6d;
  color: #fff;
}

section.event .row .card a img {
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

section.event .row .card a .text {
  padding: 20px 0;
  color: #262626;
}

section.event .row .card a .text h4 {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
}

section.event .row .card a .text p {
  font-size: 14px;
}

section.event .row .card.special {
  max-width: 400px;
  height: 500px;
}

section.event .row .card.special img {
  position: relative;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section.event .row .card.special .dark-place {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background-color: RGBA(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

section.event .row .card.special .dark-place h2.title {
  text-transform: uppercase;
  font-size: 35px;
}

section.event .row .card.special .dark-place p {
  font-size: 18px;
  padding-right: 30%;
  color: #fff;
}

section.event .row .card.special .dark-place p:first-of-type {
  color: #fcf7bf;
}

section.calendar {
  padding: 60px 20px;
  position: relative;
  margin: 20px auto;
}

section.calendar .container {
  max-width: 1250px;
}

section.calendar .title {
  text-align: center;
}

section.calendar .title h1 {
  font-weight: 700;
}

section.calendar .title .border-orange {
  width: 49%;
  margin: 10px auto 30px;
  border-top: 3px solid #fe9681;
  height: 3px;
}

section.calendar .slider-calendar {
  position: relative;
  margin: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px auto;
  text-align: center;
  padding: 150px 30;
}

section.calendar .slider-calendar .slide {
  max-width: 200px;
  width: 100%;
  height: 320px;
  margin: 20px 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

section.calendar .slider-calendar .slide .space .child-element {
  padding: 15px 15px;
  width: 100%;
  height: 320px;
  position: relative;
  z-index: 5;
}

section.calendar .slider-calendar .slide .space .child-element img {
  height: 162px;
  -o-object-fit: cover;
     object-fit: cover;
}

section.calendar .slider-calendar .slide .space .child-element .date {
  padding: 0 20px 20px;
  text-align: center;
  text-transform: uppercase;
}

section.calendar .slider-calendar .slide .space .child-element .date h1 {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  padding: 0;
}

section.calendar .slider-calendar .slide .space .child-element .date p {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  padding: 0;
}

section.calendar .slider-calendar .slide .space .child-element .text {
  padding: 15px 0 0;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

section.calendar .slider-calendar .slide .space .child-element .text h3 {
  font-size: 16px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

section.calendar .slider-calendar .slide .space .child-element .text .links {
  display: none;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

section.calendar .slider-calendar .slide.active {
  padding: 0px;
  height: 100%;
}

section.calendar .slider-calendar .slide.active .space {
  padding: 0;
  height: 100%;
}

section.calendar .slider-calendar .slide.active .space .child-element {
  max-width: initial;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  position: relative;
  z-index: 555;
  padding: 10px;
}

section.calendar .slider-calendar .slide.active .space .child-element img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

section.calendar .slider-calendar .slide.active .space .child-element .date {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: RGBA(255, 255, 255, 0.7);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 20px 15px 15px;
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section.calendar .slider-calendar .slide.active .space .child-element .date h1 {
  margin: 0;
  font-size: 20px;
  line-height: 15px;
  padding: 0;
}

section.calendar .slider-calendar .slide.active .space .child-element .date p {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  padding: 0;
}

section.calendar .slider-calendar .slide.active .space .child-element .text {
  padding: 15px 0 0;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  padding: 0 10px 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

section.calendar .slider-calendar .slide.active .space .child-element .text h3 {
  font-size: 14px;
  text-align: center;
  color: #fff;
  margin-top: 10px;
}

section.calendar .slider-calendar .slide.active .space .child-element .text p {
  color: #fff;
  text-align: left;
  font-size: 10px;
  line-height: 14px;
}

section.calendar .slider-calendar .slide.active .space .child-element .text .links {
  display: block;
  text-align: left;
}

section.calendar .slider-calendar .slide.active .space .child-element .text .links a {
  display: block;
  color: #fcf7bf;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
}

section.calendar .slider-calendar .slide.active .space .child-element .text .links a.right {
  text-align: right;
}

section.calendar .slider-calendar .slick-next {
  width: 50px;
  height: 50px;
  right: 0;
  top: 50%;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

section.calendar .slider-calendar .slick-next:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #000;
  content: '\f054';
}

section.calendar .slider-calendar .slick-prev {
  width: 50px;
  height: 50px;
  left: 0;
  top: 50%;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 555;
}

section.calendar .slider-calendar .slick-prev:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #000;
  content: '\f053';
}

section.popular {
  padding: 60px 20px;
}

section.popular.article-popular {
  padding: 20px 0px 20px;
}

section.popular.article-popular .title {
  background-color: #fff;
  font-weight: 300;
  padding: 10px;
  margin-bottom: 40px;
  -webkit-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1), 0 0px 15px rgba(207, 149, 149, 0.1);
          box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1), 0 0px 15px rgba(207, 149, 149, 0.1);
}

section.popular.article-popular .slide {
  margin: 0 10px;
}

section.popular.article-popular .slide .card {
  padding: 10px;
  position: relative;
}

section.popular.article-popular .slide .card a.btn-download-two {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px auto 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #eeeeee;
}

section.popular.article-popular .slide .card a.btn-download-two:hover {
  background-color: #f9f9f9;
}

section.popular.article-popular .slide .card a.btn-download-two img {
  width: 15px;
  margin-right: 10px;
  -o-object-fit: contain;
     object-fit: contain;
  height: auto;
  -webkit-box-shadow: none;
          box-shadow: none;
}

section.popular.article-popular .slide .card img {
  width: 100%;
  height: 190px;
  -o-object-fit: cover;
     object-fit: cover;
}

section.popular.article-popular .slide h3 {
  padding: 15px 0;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
}

section.popular .title {
  text-align: center;
  font-weight: 300;
}

section.popular .title h1 {
  font-weight: 700;
}

section.popular .title .border-orange {
  width: 35%;
  margin: 10px auto 30px;
  border-top: 3px solid #fe9681;
  height: 3px;
}

section.popular .slider-popular,
section.popular .slider-popular-two {
  position: relative;
}

section.popular .slider-popular .slick-next,
section.popular .slider-popular-two .slick-next {
  width: 50px;
  height: 50px;
  right: 10px;
  top: 40%;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

section.popular .slider-popular .slick-next:before,
section.popular .slider-popular-two .slick-next:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #000;
  content: '\f054';
}

section.popular .slider-popular .slick-prev,
section.popular .slider-popular-two .slick-prev {
  width: 50px;
  height: 50px;
  left: 10px;
  top: 40%;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 555;
}

section.popular .slider-popular .slick-prev:before,
section.popular .slider-popular-two .slick-prev:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #000;
  content: '\f053';
}

section.popular .slider-popular .slide,
section.popular .slider-popular-two .slide {
  margin: 0 10px;
}

section.popular .slider-popular .slide .card,
section.popular .slider-popular-two .slide .card {
  padding: 10px;
  position: relative;
}

section.popular .slider-popular .slide .card a.btn-download-two,
section.popular .slider-popular-two .slide .card a.btn-download-two {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px auto 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #eeeeee;
}

section.popular .slider-popular .slide .card a.btn-download-two:hover,
section.popular .slider-popular-two .slide .card a.btn-download-two:hover {
  background-color: #f9f9f9;
}

section.popular .slider-popular .slide .card a.btn-download-two img,
section.popular .slider-popular-two .slide .card a.btn-download-two img {
  width: 15px;
  margin-right: 10px;
  -o-object-fit: contain;
     object-fit: contain;
  height: auto;
  -webkit-box-shadow: none;
          box-shadow: none;
}

section.popular .slider-popular .slide .card img,
section.popular .slider-popular-two .slide .card img {
  width: 100%;
  height: 190px;
  -o-object-fit: cover;
     object-fit: cover;
}

section.popular .slider-popular .slide h3,
section.popular .slider-popular-two .slide h3 {
  padding: 15px 0;
  color: #262626;
  font-size: 14px;
  font-weight: 500;
}

section.contact {
  background: #eeeeee url("../img/bg2.png");
  background-attachment: fixed;
  padding: 80px 0;
}

section.contact .card {
  position: relative;
}

section.contact .card .circle {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fc6f6d url("../img/koperta.png");
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: center;
}

section.contact .card .text {
  max-width: 500px;
  width: 100%;
  margin: 100px auto 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.contact .card .text h1 {
  font-weight: 700;
  margin-bottom: 20px;
}

section.contact .card .text p {
  max-width: 400px;
  text-align: center;
  font-size: 18px;
}

section.contact .card .text form {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

section.contact .card .text form input {
  background-color: #eeeeee;
  padding: 10px 10px;
  border-radius: 10px;
  font-size: 18px;
  outline: none;
  border: none;
  width: 100%;
}

section.contact .card .text form input::-webkit-input-placeholder {
  font-size: 18px;
}

section.contact .card .text form input:-ms-input-placeholder {
  font-size: 18px;
}

section.contact .card .text form input::-ms-input-placeholder {
  font-size: 18px;
}

section.contact .card .text form input::placeholder {
  font-size: 18px;
}

section.contact .card .text form a.btn.btn-orange {
  max-width: 150px;
  margin: 17px 0 0;
}

section.article {
  padding: 100px 20px 30px;
  background-color: #fff;
  position: relative;
}

section.article .article-panel {
  text-transform: uppercase;
}

section.article.file {
  padding-bottom: 0;
}

section.article.file .bg {
  height: 340px;
}

section.article.file .container .right {
  padding-left: 30px;
}

section.article.file .container .right .file-article h1 {
  font-weight: 300;
  margin-top: 10px;
}

section.article.file .container .right p {
  margin: 30px 0 0;
}

section.article.file .container .right p.title-up {
  color: #909090;
}

section.article.file .container .right p:first-of-type {
  margin-top: 0;
  margin-bottom: 0;
}

section.article.file .container .right p:nth-last-of-type(2) {
  margin-bottom: 0;
}

section.article .bg {
  background-color: #f9f9f9;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 300px;
}

section.article .img-card {
  padding: 10px;
}

section.article .img-card img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

section.article .right h1 {
  margin: 20px 0 0;
  font-size: 40px;
  font-weight: 400;
}

section.article .right .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #909090;
}

section.article .right .tags div {
  margin: 5px 15px 5px 0;
}

section.article .right .autors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.article .right .autors .autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #262626;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 20px;
  margin: 15px 15px 0 0;
  font-size: 20px;
  font-weight: 300;
}

section.article .right .autors .autor img.circle {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
  margin-right: 10px;
}

section.article .right p {
  font-size: 18px;
  line-height: 24px;
  margin-top: 50px;
}

section.article .right a {
  color: #262626;
  font-size: 18px;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
}

section.register-article {
  background-color: #f9f9f9;
  padding: 60px 20px;
}

section.register-article .login-choice .left {
  text-align: right;
  border-right: 1px solid #262626;
}

section.register-article .title {
  text-align: center;
  margin: 20px 0 60px;
}

section.register-article .choices .choice {
  text-align: center;
}

section.register-article .choices .choice.active a p span {
  border-bottom: 3px solid #fe9681;
  padding-bottom: 8px;
}

section.register-article .choices .choice a {
  color: #262626;
}

section.register-article .choices .choice a h4 {
  font-weight: 700;
}

section.register-article .order-now {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

section.releases {
  background-color: #f9f9f9;
  padding: 30px 10px;
}

section.releases img {
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100%;
}

section.releases .container {
  max-width: 1250px;
}

section.releases .container .title {
  padding: 10px 10px 3px;
  background-color: #fff;
  margin: 30px auto;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

section.releases .container .title h1 {
  font-weight: 300;
}

section.releases .container .choice .left {
  text-align: right;
  line-height: 2.3;
}

section.releases .container .choice .select {
  background-color: #fff;
  border-radius: 15px;
}

section.releases .container .number-title {
  position: relative;
  margin: 30px 0;
}

section.releases .container .number-title .release-number {
  position: absolute;
  top: -15px;
  background-color: #f9f9f9;
  font-size: 22px;
  padding-right: 10px;
  font-weight: 300;
  left: 0;
  font-family: 'Josefin Sans', sans-serif;
}

section.releases .container .number-title .line {
  border-top: 2px solid #eeeeee;
  height: 2px;
  width: 100%;
}

section.releases .container .more {
  position: relative;
  margin: 20px 0 40px;
  border-bottom: 2px solid #eeeeee;
}

section.releases .container .more button.btn-more {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 10px;
  font-weight: 300;
  font-family: 'Josefin Sans', sans-serif;
  color: #000 !important;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

section.releases .container .more button.btn-more:before {
  content: 'Pokaż więcej';
}

section.releases .container .more button.btn-more img {
  width: 15px;
  margin: 0 5px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

section.releases .container .more button.btn-more.active:before {
  content: 'Pokaż mniej';
}

section.releases .container .more button.btn-more.active img {
  width: 15px;
  margin: 0 5px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

section.releases .container .articles .article,
section.releases .container .articles .file,
section.releases .container .files .article,
section.releases .container .files .file {
  max-width: 150px;
  width: 100%;
  padding: 0 5px;
  margin: 0 5px;
}

section.releases .container .articles .article a img,
section.releases .container .articles .file a img,
section.releases .container .files .article a img,
section.releases .container .files .file a img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #fff;
}

section.releases .container .articles .article a p,
section.releases .container .articles .file a p,
section.releases .container .files .article a p,
section.releases .container .files .file a p {
  margin-top: 15px;
  font-size: 14px;
  width: 150px;
  color: #000;
}

section.releases .more-articles {
  height: 0%;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

section.releases .more-articles .article {
  opacity: 0;
  height: 0;
}

section.releases .more-articles.active {
  height: auto;
}

section.releases .more-articles.active .article {
  opacity: 1;
  height: auto;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

section.search {
  background-color: #f9f9f9;
  padding: 30px 10px;
}

section.search img {
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100%;
}

section.search .container {
  max-width: 1300px;
}

section.search .container .title {
  padding: 10px 10px;
  background-color: #fff;
  margin: 30px auto;
  text-align: center;
}

section.search .container .title div {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

section.search .container .title div form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.search .container .title div form span {
  font-size: 25px;
  font-weight: 300;
  padding-right: 5px;
}

section.search .container .title div form .bmd-form-group {
  padding-top: 0;
  padding-right: 0;
}

section.search .container .title div form input {
  background: url("../img/search.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right center;
  border-bottom: 1px solid #000;
  font-size: 25px;
  padding-bottom: 0px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

section.search .container .choice .left {
  text-align: right;
  line-height: 2.3;
}

section.search .container .choice .select {
  background-color: #fff;
  border-radius: 15px;
}

section.search .container .number-title {
  position: relative;
  margin: 30px 0;
}

section.search .container .number-title .release-number {
  position: absolute;
  top: -14px;
  background-color: #f9f9f9;
  font-size: 20px;
  left: 50%;
}

section.search .container .number-title .release-number.left {
  left: 0;
}

section.search .container .number-title .release-number span {
  font-weight: 300;
}

section.search .container .number-title .line {
  border-top: 2px solid #eeeeee;
  height: 2px;
  width: 100%;
}

section.search .container .more {
  position: relative;
  margin: 20px 0 40px;
  border-bottom: 2px solid #eeeeee;
}

section.search .container .more button.btn-more {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 10px;
  font-weight: 300;
  font-family: 'Josefin Sans', sans-serif;
  color: #000 !important;
}

section.search .container .more button.btn-more img {
  width: 15px;
  margin: 0 5px;
}

section.search .container .filter-group {
  background-color: transparent;
}

section.search .container .filter-group .card-header {
  background-color: transparent;
  border: none;
  padding: 0;
}

section.search .container .filter-group .card-header a {
  background-color: transparent;
  color: #262626;
  padding: 0;
  margin: 0;
}

section.search .container .filter-group .card-header a .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  margin: 10px 0;
  text-transform: uppercase;
  font-size: 20px;
  text-align: left;
  padding: 0;
}

section.search .container .filter-group .card-header a .title i {
  margin-left: 10px;
}

section.search .container .filter-group .card-body {
  padding: 0;
}

section.search .container .filter-group .card-body .form-check {
  margin-bottom: 5px;
}

section.search .container .filter-group .card-body .form-check label {
  font-weight: 300;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
}

section.search .container .articles,
section.search .container .files {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

section.search .container .articles a .article,
section.search .container .articles a .file,
section.search .container .files a .article,
section.search .container .files a .file {
  max-width: 215px;
  width: 100%;
  background: #fff;
  height: 305px;
  margin: 0 0 30px;
  position: relative;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

section.search .container .articles a .article:hover,
section.search .container .articles a .file:hover,
section.search .container .files a .article:hover,
section.search .container .files a .file:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

section.search .container .articles a .article:hover div.panel-text,
section.search .container .articles a .file:hover div.panel-text,
section.search .container .files a .article:hover div.panel-text,
section.search .container .files a .file:hover div.panel-text {
  top: 75px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(0%, rgba(255, 255, 255, 0.9)), color-stop(32%, rgba(255, 255, 255, 0.8)), color-stop(54%, rgba(255, 255, 255, 0.95)), to(white));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.8) 32%, rgba(255, 255, 255, 0.95) 54%, white 100%);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 4px 5px rgba(0, 0, 0, 0.04);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 4px 5px rgba(0, 0, 0, 0.04);
}

section.search .container .articles a .article:hover div.panel-text div.description,
section.search .container .articles a .file:hover div.panel-text div.description,
section.search .container .files a .article:hover div.panel-text div.description,
section.search .container .files a .file:hover div.panel-text div.description {
  height: auto;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  color: #555;
}

section.search .container .articles a .article:hover div.panel-text .type.two,
section.search .container .articles a .file:hover div.panel-text .type.two,
section.search .container .files a .article:hover div.panel-text .type.two,
section.search .container .files a .file:hover div.panel-text .type.two {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: opacity 0s 0s linear;
  transition: opacity 0s 0s linear;
}

section.search .container .articles a .article img,
section.search .container .articles a .file img,
section.search .container .files a .article img,
section.search .container .files a .file img {
  width: 215px;
  height: 305px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

section.search .container .articles a .article div.panel-text,
section.search .container .articles a .file div.panel-text,
section.search .container .files a .article div.panel-text,
section.search .container .files a .file div.panel-text {
  position: absolute;
  top: 215px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  color: #000;
  background: white;
  -webkit-box-shadow: 0px -10px 30px 0px rgba(255, 255, 255, 0.56);
          box-shadow: 0px -10px 30px 0px rgba(255, 255, 255, 0.56);
  padding: 20px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

section.search .container .articles a .article div.panel-text .article-title,
section.search .container .articles a .file div.panel-text .article-title,
section.search .container .files a .article div.panel-text .article-title,
section.search .container .files a .file div.panel-text .article-title {
  color: #262626;
  font-size: 13px;
}

section.search .container .articles a .article div.panel-text .type,
section.search .container .articles a .file div.panel-text .type,
section.search .container .files a .article div.panel-text .type,
section.search .container .files a .file div.panel-text .type {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.search .container .articles a .article div.panel-text .type p,
section.search .container .articles a .file div.panel-text .type p,
section.search .container .files a .article div.panel-text .type p,
section.search .container .files a .file div.panel-text .type p {
  text-transform: uppercase;
  font-weight: 200;
  color: gray;
  line-height: 20px;
  margin: 0;
  font-size: 11px;
}

section.search .container .articles a .article div.panel-text .type img,
section.search .container .articles a .file div.panel-text .type img,
section.search .container .files a .article div.panel-text .type img,
section.search .container .files a .file div.panel-text .type img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 20px;
  height: auto;
  padding-right: 5px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

section.search .container .articles a .article div.panel-text .type.two,
section.search .container .articles a .file div.panel-text .type.two,
section.search .container .files a .article div.panel-text .type.two,
section.search .container .files a .file div.panel-text .type.two {
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

section.search .container .articles a .article div.panel-text .type.two p,
section.search .container .articles a .file div.panel-text .type.two p,
section.search .container .files a .article div.panel-text .type.two p,
section.search .container .files a .file div.panel-text .type.two p {
  text-transform: none;
}

section.search .container .articles a .article div.panel-text div,
section.search .container .articles a .file div.panel-text div,
section.search .container .files a .article div.panel-text div,
section.search .container .files a .file div.panel-text div {
  font-size: 12px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

section.search .container .articles a .article div.panel-text div.description,
section.search .container .articles a .file div.panel-text div.description,
section.search .container .files a .article div.panel-text div.description,
section.search .container .files a .file div.panel-text div.description {
  margin: 10px 0;
  opacity: 0;
}

section.search .more-articles {
  height: 0%;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

section.search .more-articles .article {
  opacity: 0;
  height: 0;
}

section.search .more-articles.active {
  height: auto;
}

section.search .more-articles.active .article {
  opacity: 1;
  height: auto;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

section.register {
  background-color: #f9f9f9;
  padding: 60px 10px;
}

section.register .row {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section.register a {
  color: #00adef;
}

section.register .left {
  padding-right: 20px;
}

section.register .left .account-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

section.register .left .account-head img {
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100%;
}

section.register .left .account-head .account-info-title {
  position: absolute;
  text-align: right;
  right: 0;
  bottom: 10px;
  color: #000;
}

section.register .left .account-head .account-info-title h3 {
  text-align: right;
}

section.register .left .account-head .account-info-title p {
  text-align: right;
  font-size: 14px;
  color: #909090;
}

section.register .left .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 30px;
}

section.register .left .title h3 {
  color: #262626;
  font-weight: 500;
  padding: 0px 15px 0;
  font-size: 20px;
}

section.register .left .title h3 span {
  font-weight: 400;
}

section.register .left div.price-abonament {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}

section.register .left div.price-abonament .price-info {
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
}

section.register .left div.price-abonament .price-info span {
  font-size: 28px;
}

section.register .left div.price-abonament p.info {
  font-weight: 300;
  font-size: 16px;
  line-height: 14px;
  margin: 0 0 10px;
}

section.register .left div.price-abonament p.info img {
  max-width: 14px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100%;
  margin-left: 5px;
}

section.register .left div.price-abonament a.return {
  color: #9ad3ee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  line-height: 30px;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 15px;
}

section.register .left div.price-abonament a.return i {
  padding-right: 10px;
}

section.register .left div.price-abonament a.return:hover {
  color: #3c5e91;
}

section.register .left div.price-abonament p.info-year {
  font-size: 14px;
  font-weight: 300;
}

section.register .left div.price-abonament p.info-year span {
  font-weight: 400;
}

section.register .left .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 500;
  max-width: 300px;
  margin: 30px auto 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: 300;
}

section.register .left .comment img {
  max-width: 16px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100%;
}

section.register .left .comment p {
  margin-left: 10px;
}

section.register .left .pay-method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  font-size: 14px;
  padding-left: 0px;
  max-width: 250px;
  margin: 0 auto 0;
  min-height: 80px;
}

section.register .left .get {
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  padding: 40px;
}

section.register .left .get.account {
  margin-top: 0;
}

section.register .left .get div {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}

section.register .left .get div h2.border-blue {
  border-bottom: 4px solid #9ad3ee;
  font-size: 24px;
  padding-bottom: 10px;
  width: 200px;
  font-weight: 400;
}

section.register .left .get div a {
  display: block;
  color: #262626;
  font-size: 18px;
  margin: 10px 0;
}

section.register .left .get div a:hover {
  color: #9ad3ee;
}

section.register .left .get div ul {
  list-style: none;
  padding: 20px 0;
}

section.register .left .get div ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  font-size: 14px;
}

section.register .left .get div ul li:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 6px;
  content: '\f111';
  color: #00adef;
  padding-right: 10px;
  padding-top: 7px;
}

section.register .left .get div ul li:last-of-type {
  margin-bottom: 0;
}

section.register .left h2.type {
  font-size: 24px;
}

section.register .left h2.type span {
  font-size: 35px;
}

section.register .left p.price {
  font-size: 40px;
}

section.register .left p.price span {
  font-size: 20px;
}

section.register .left p.time-price,
section.register .left p.month-price {
  color: #909090;
}

section.register .left p.month-price {
  font-size: 20px;
}

section.register .left ul {
  list-style: none;
  padding: 20px 0;
}

section.register .left ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

section.register .left ul li:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f00c';
  color: #00adef;
  padding-right: 10px;
}

section.register .left ul li:last-of-type {
  margin-bottom: 0;
}

section.register .left .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

section.register .left .info i {
  color: #909090;
  margin-top: 5px;
  padding-left: 10px;
}

section.register .right {
  padding: 30px;
}

section.register .right.account {
  padding: 30px 30px 0;
}

section.register .right.account .abonament-row {
  padding: 20px 0;
  border-bottom: 1px solid #eeeeee;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.register .right.account .abonament-row:last-of-type {
  border: none;
}

section.register .right.account .abonament-row .abonament-title p {
  font-weight: 500;
  margin-bottom: 0;
}

section.register .right.account .abonament-row .abonament-title a.gray {
  color: gray;
  font-weight: 300;
  margin: 0;
  font-size: 12px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

section.register .right.account .abonament-row .abonament-title a.gray:hover {
  color: #9ad3ee;
}

section.register .right.account .abonament-row .abonament-edit p img {
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 50px;
}

section.register .right.account .abonament-row .abonament-edit a.btn.btn-outline-primary.btn-rounded.waves-effect.btn-block {
  border-color: #9ad3ee;
  color: #9ad3ee;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

section.register .right.account .abonament-row .abonament-edit a.btn.btn-outline-primary.btn-rounded.waves-effect.btn-block:hover {
  background-color: #9ad3ee;
  color: #fff;
}

section.register .right.account form .form-group {
  max-width: 320px;
  width: 100%;
  margin: 0px auto;
  padding-top: 15px;
}

section.register .right.account form .form-group .email-proved {
  margin: 10px 0 20px;
}

section.register .right.account form .form-group .email-proved .proved {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.register .right.account form .form-group .email-proved .proved.none i {
  color: red;
}

section.register .right.account form .form-group .email-proved .proved.none div p {
  margin-bottom: 0;
}

section.register .right.account form .form-group .email-proved .proved.none div a {
  margin: 0;
}

section.register .right.account form .form-group .email-proved .proved i {
  font-size: 20px;
  color: green;
  padding-top: 20px;
  padding-right: 10px;
}

section.register .right.account form .form-group .email-proved .proved div p {
  text-align: left;
  font-size: 16px;
}

section.register .right.account form .form-group input.form-control {
  background-color: #fff;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-image: none;
  padding: 0 20px;
  font-size: 14px;
  color: #555;
}

section.register .right.account form .form-group input.form-control::-webkit-input-placeholder {
  font-size: 14px;
  color: #aaa;
}

section.register .right.account form .form-group input.form-control:-ms-input-placeholder {
  font-size: 14px;
  color: #aaa;
}

section.register .right.account form .form-group input.form-control::-ms-input-placeholder {
  font-size: 14px;
  color: #aaa;
}

section.register .right.account form .form-group input.form-control::placeholder {
  font-size: 14px;
  color: #aaa;
}

@-moz-document url-prefix() {
  section.register .right.account form .form-group input.form-control::placeholder {
    line-height: 32px;
  }
}

section.register p.thanks-text {
  max-width: 380px;
  width: 100%;
  margin: 20px auto 10px;
}

section.register .smile img {
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100px;
  margin: 0 auto;
  display: block;
}

section.register .steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

section.register .steps p {
  width: 100%;
  text-align: center;
  font-size: 16px;
}

section.register .steps .step {
  width: 30px;
  margin: 0 5px;
  height: 7px;
  background-color: #eeeeee;
  border-radius: 15px;
}

section.register .steps .step.active {
  background-color: #9ad3ee;
}

section.register h3 {
  margin-top: 20px;
  font-weight: 300;
  text-align: center;
}

section.register h3.thanks-title {
  margin: 0;
}

section.register form p.register-three-info {
  font-size: 14px;
  text-align: left;
  max-width: 320px;
  width: 100%;
  margin: 20px auto;
}

section.register form .choices {
  margin: 10px auto 30px;
}

section.register form .choices.step-3 .choice .box img {
  max-width: 30px;
}

section.register form .choices .choice .box {
  border-radius: 15px;
  padding: 21px;
  border: 2px solid #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
  cursor: pointer;
}

section.register form .choices .choice .box.active, section.register form .choices .choice .box:hover {
  border: 6px solid #9ad3ee;
  padding: 15px;
}

section.register form .choices .choice .box img {
  max-width: 40px;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
}

section.register form .choices .choice .box p {
  margin: 0;
  line-height: 1;
}

section.register form .choices .choice a {
  color: #262626;
  font-size: 12px;
}

section.register form .line-dots {
  border-top: 3px solid #eeeeee;
  max-width: 90%;
  margin: 20px auto;
  position: relative;
}

section.register form .line-dots.login {
  margin-top: 50px;
}

section.register form .line-dots p {
  position: absolute;
  top: -23px;
  left: 50%;
  font-size: 14px;
  color: #909090;
  background-color: #fff;
  padding: 0 10px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

section.register form .line-dots i {
  color: #9ad3ee;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: #fff;
  padding: 0 10px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

section.register form a.create-account-link {
  text-align: center;
  display: block;
  color: #262626;
}

section.register form p.info {
  text-align: left;
  padding: 20px;
}

section.register form .form-group {
  max-width: 320px;
  width: 100%;
  margin: 0px auto;
  padding-top: 15px;
}

section.register form .form-group input.form-control {
  background-color: #f9f9f9;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-image: none;
  padding: 0 20px;
  font-size: 14px;
  color: #555;
}

section.register form .form-group input.form-control::-webkit-input-placeholder {
  font-size: 14px;
  color: #aaa;
}

section.register form .form-group input.form-control:-ms-input-placeholder {
  font-size: 14px;
  color: #aaa;
}

section.register form .form-group input.form-control::-ms-input-placeholder {
  font-size: 14px;
  color: #aaa;
}

section.register form .form-group input.form-control::placeholder {
  font-size: 14px;
  color: #aaa;
}

@-moz-document url-prefix() {
  section.register form .form-group input.form-control::placeholder {
    line-height: 32px;
  }
}

section.register form p {
  margin: 20px 0;
  font-size: 10px;
  text-align: center;
}

section.register form p.info {
  font-size: 12px;
}

section.register form p a {
  color: #000;
  text-decoration: underline;
}

section.register form .btn {
  background-color: #9ad3ee;
  color: #fff;
  border-color: #9ad3ee;
  width: 250px;
  margin: 10px auto;
}

section.register form .btn:hover {
  background-color: #009cde;
  color: #fff;
  border-color: #009cde;
}

section.register form .custom-checkbox {
  margin: 0 auto;
  margin-top: 30px;
  max-width: 280px;
  width: 100%;
}

section.register form .custom-checkbox label {
  padding-left: 25px;
  padding-top: 5px;
  font-size: 9px;
  line-height: 15px;
}

.form-group.position-relative input {
  padding-right: 32px;
}

.form-password-icon {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  bottom: 4px;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 24px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  right: 0;
  width: 24px;
  z-index: 10;
}

.form-text ~ .form-password-icon {
  bottom: calc(1rem + 18px);
}

.form-password-icon .material-icons {
  font-size: 16px;
  font-weight: 500;
}

section.prices {
  padding: 60px 10px;
  background-color: #f9f9f9;
}

section.prices .title {
  text-align: center;
  margin-bottom: 50px;
}

section.prices .title p {
  color: #262626;
  font-weight: 500;
}

section.prices .price.plus {
  width: 100%;
  padding: 40px 3vw;
}

section.prices .price.plus h2.border-blue {
  margin: 0 auto 20px;
  text-align: center;
  max-width: 180px;
}

section.prices .price.plus p {
  font-size: 16px;
  line-height: 26px;
}

section.prices .price.plus h3.text-center {
  margin: 25px 0;
  font-size: 22px;
}

section.prices .price.plus h2.blue {
  color: #9ad3ee;
  font-weight: 300;
  font-size: 40px;
  margin: 15px 0;
}

section.prices .price.plus .get {
  max-width: 100%;
}

section.prices .price.plus ul {
  max-width: 430px;
  width: 100%;
  margin: 15px auto;
  font-size: 18px;
}

section.prices .price.plus ul.more {
  max-width: 600px;
}

section.prices .price .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 30px;
}

section.prices .price .title h3 {
  font-weight: 300;
  padding: 10px 15px 0;
  font-size: 20px;
}

section.prices .price .title h3 span {
  font-weight: 400;
}

section.prices .price div.price-abonament {
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
  height: 150px;
}

section.prices .price div.price-abonament .price-info {
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
}

section.prices .price div.price-abonament .price-info span {
  font-size: 28px;
}

section.prices .price div.price-abonament p.info {
  font-weight: 300;
  font-size: 16px;
  line-height: 14px;
  margin: 0 0 8px;
}

section.prices .price div.price-abonament p.info img {
  max-width: 14px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100%;
}

section.prices .price div.price-abonament p.info-year {
  font-size: 14px;
  font-weight: 300;
}

section.prices .price div.price-abonament p.info-year span {
  font-weight: 400;
}

section.prices .price .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 500;
  max-width: 250px;
  margin: 30px auto 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: 300;
}

section.prices .price .comment img {
  max-width: 16px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100%;
}

section.prices .price .comment p {
  margin-left: 10px;
}

section.prices .price .pay-method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  font-size: 14px;
  padding-left: 23px;
  max-width: 250px;
  margin: 0 auto 0;
  height: 90px;
}

section.prices .price .get {
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
  margin-top: 25px;
}

section.prices .price .get h2.border-blue {
  border-bottom: 4px solid #9ad3ee;
  font-size: 24px;
  padding-bottom: 10px;
  width: 200px;
  font-weight: 400;
}

section.prices .price .get ul {
  list-style: none;
  padding: 20px 0;
}

section.prices .price .get ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  font-size: 14px;
}

section.prices .price .get ul li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 6px;
  content: "\f111";
  color: #00adef;
  padding-right: 10px;
  padding-top: 7px;
}

section.prices .price .get ul li:last-of-type {
  margin-bottom: 0;
}

footer {
  background-color: #262626;
  color: #eeeeee;
  padding-top: 20px;
  font-size: 14px;
}

footer div.line {
  border-top: 1px solid #555;
  height: 1px;
  margin: 15px 0;
}

footer a {
  color: #fe9681;
}

footer a:hover {
  color: #fc6f6d;
}

footer p {
  margin: 0;
  color: #aaa;
  line-height: 1.5;
}

footer img {
  -webkit-box-shadow: none;
          box-shadow: none;
}

footer .social {
  background-color: #fc6f6d;
  margin-top: 15px;
}

footer .social .fb-ic {
  color: #fff;
  margin-left: 40px;
}

footer .wydawca {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .wydawca .info-pub {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 10px;
}

footer .wydawca .info-pub p {
  line-height: 16px;
  margin: 0;
}

footer .wydawca img {
  max-width: 200px;
  margin: 10px auto 10px 0;
}

footer .footer-copyright {
  padding: 10px;
}

footer .wydawca .info-pub p {
  line-height: 18px;
}
/*# sourceMappingURL=style.css.map */